/target
/logs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*#*
/.lein-*
/.nrepl-port
/profiles.clj
/dev/resources/local.edn
/dev/src/local.clj
.cpcache/
/.shadow-cljs
/node_modules
/resources/lazycasts/public/js
/resources/lazycasts/public/style.css
/.lsp/
/jar-manifest
/server.token
/server.pid